.login_signup{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.td{
    font-size: 2vw;
}
.input{
    padding: 1vw;
    border: none;
    margin: 1vw;
}
#btn{
    /* sx={{padding:"0.5vw",}} */
    background-color: brown;
    color: antiquewhite;
    padding: 0.5vw;
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
}
#link{
    color: aliceblue;
}
@media screen and (min-width: 1600px) {
    /* .td{
        font-size: 4vw;
    } */
  }

  @media screen and (max-width: 700px) {
    .td{
        font-size: 4vw;
    }
  }